.adminNavBar {
    height:50px;
    background-color: white;
    border:1px solid black;
    border-top:none;
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-evenly;
        
        li{
            margin-top: 14px;
            cursor: pointer;
        }
    }
}