* {
    margin:0;
    padding: 0;
}

*,*::before,*::after {
    box-sizing: border-box;
}

.employeeList {
    h1 {
        margin-bottom: 20px;
    }
    table{
        font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
    }
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 50%;
  }