.assignmentMenu {
    margin-bottom: 25px;
    .assignmentCatergory {
    }
    .assignmentCategoryTopBarName {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contentItemNotShowing {
        display: none;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    h1 {
        font-size: 25px;
    }
    .contentItemShowing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        border-top: 1px solid black;;
        background-color: #f2f2f2;;
        margin-top: 25px;
    }
}

.pageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}